<header>
    <div class="logo">
    <a href="/"><h2>Odin<span class="blue">Recipes</span></a></h2>
    </div>
    <div class="links">
    <h3><a href="/catalogue/recipes">Recipes</a></h3>
    <h3><a href="/catalogue/categories">Categories</a></h3>
    </div>
</header>