<!DOCTYPE html>
  <%- include("head") %>
  <body>
    <main class="welcome">
      <h1>Odin <span class="blue">Recipes</span></h1>
      <p>Welcome to <%= title %>!</p>
      <p>
        The
        <a href="https://www.theodinproject.com/lessons/foundations-recipes"
          >first TOP project</a
        >
        reimagined for the
        <a
          href="https://www.theodinproject.com/lessons/nodejs-inventory-application"
          >backend course</a
        >.
      </p>
      <nav class="nav-buttons">
        <a href="/catalogue/recipes"><button class="blue">Recipes</button></a>
        <a href="/catalogue/categories"
          ><button class="gold">Categories</button></a
        >
      </nav>

      <p class="attribution">Like these colors? The colors, buttons, and form stylings on this site are based on <a href="https://www.theodinproject.com">The Odin Project website</a>, so all credit goes to designer <a href="https://github.com/adachiu">Ada Chiu</a>!</p>

    </main>
  </body>
</html>
