<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Calistoga&family=Open+Sans:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/"><h2>Odin<span class="blue">Recipes</span></a></h2>
      </div>
      <div class="links">
        <h3><a href="recipes">Recipes</a></h3>
        <h3><a href="categories">Categories</a></h3>
      </div>
    </header>
    <main class="recipe">
      <h1>Fake recipe</h1>
      <h2>South Indian, Favourites</h2>
      <img src="/images/mung-beans.jpg" />
      <p>Fake description text will go here</p>
      <ul>
        <li>This is an ingredient item</li>
        <li>This is an ingredient item</li>
        <li>This is an ingredient item</li>
        <li>This is an ingredient item</li>
        <li>This is an ingredient item</li>
      </ul>
      <ol>
        <li>This is a step item</li>
        <li>This is a step item</li>
        <li>This is a step item</li>
        <li>This is a step item</li>
      </ol>
    </main>
  </body>
</html>
