:root {
  --main-font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --secondary-font: Calistoga;

  --blue: rgb(15, 118, 110);
  --gold: rgb(206, 151, 62);
  --dull-gold: rgb(169, 121, 43);

  --black: rgb(31, 41, 55);
  --muted-black: rgb(75, 85, 99);
}

* {
  /* border: 1px solid salmon; */
}

.blue {
  color: var(--blue);
}
.gold {
  color: var(--gold);
}
.dull-gold {
  color: var(--dull-gold);
}

body {
  padding: 10vw;
  font-family: var(--main-font);
  height: 100vh;
  color: var(--black);
}

a {
  color: var(--gold);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: var(--dull-gold);
}

main.welcome h1 {
  font-family: var(--secondary-font);
  color: var(--dull-gold);
  font-size: 5rem;
  line-height: 5.2rem;
}
main.welcome p {
  font-size: 1.5rem;
}
.nav-buttons {
  display: flex;
  gap: 1.5rem;
  margin-top: 8vh;
}

main.welcome button {
  color: var(--color-main);
  background-color: white;
  font-size: clamp(.5rem, 6vw, 1.8rem);
  padding-inline: 1em;
  padding-block: .5em;
  border-radius: 6px;
  border: 2px solid var(--color-main);
}

main.welcome button:hover, main.welcome button:focus {
  color: white;
  background-color: var(--color-main);
  outline: 2px solid var(--color-main);
  outline-offset: 3px;
}

button.black {
  --color-main: var(--black);
}
button.blue {
  --color-main: var(--blue);
}
button.gold {
  --color-main: var(--gold);
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header div.logo a {
  color: var(--black);
  font-family: var(--secondary-font);
  font-size: clamp(1.5rem, 1rem + 4vw, 3rem);
  height: min-content;
}

header a:hover {
  text-decoration: none;
}

header div.links {
  margin-left: auto;
  display: flex;
  gap: min(30px, 5vw);
  padding-left: min(30px, 5vw);
  font-size: clamp(0.5rem, 0.5rem + 3vw, 1.7rem);
}

header div.links a:hover{
  color: var(--gold);
}

main.recipe, header {
  max-width: 800px;
}

main.recipe img {
  width: min(500px, 100%);
}

main.recipe h1 {
  font-size: 2.7rem;
  font-family: var(--main-font);
  font-weight: 600;
}

main.recipe h2 {
  font-size: 1.6rem;
  font-family: var(--main-font);
  color: var(--muted-black);
}

main.recipe ul li::marker {
  color: var(--blue);
}